.header-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Bradley Hand', cursive;
    font-size: 32px;
}

.card-container {
    margin-bottom: 20px;
}

.table-header-even {
    background-color: blanchedalmond;
}

.table-header-odd {
    background-color: whitesmoke;
}
