<!-- Hero szekció -->
<div class="hero">
    <div class="hero__container">
      <div class="hero__container__left">
        <h1 id="golden_text">Álomesküvőt szeretne?</h1>
        <h2>Mi segítünk a legjobb helyszín megtalálásában!</h2>
        <h3>Ne habozzon, nézzen körbe! Találja meg akár ma álmai esküvőjének helyszínét!</h3>
        <button class="hero__container__btn">
          <a (click)="toSites()">Ajánlatok</a>
        </button>
      </div>
      <div class="hero__container__right">
        <img
          src="assets/images/dance.png"
          alt="dancing"
          class="hero__container__img"
        />
      </div>
    </div>
  </div>