<div class="main_component">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h1>Regisztráció</h1>
    <div formGroupName="name" class="subForm">
      <mat-form-field>
        <mat-label for="lastname">Vezetéknév: </mat-label>
        <input matInput type="text" formControlName="lastname" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="firstname">Keresztnév: </mat-label>
        <input matInput type="text" formControlName="firstname" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label for="email">Email: </mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">Jelszó: </mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password_again">Jelszó újra: </mat-label>
      <input matInput type="password" formControlName="password_again" />
    </mat-form-field>
    <span class="buttons">
      <button type="submit" mat-raised-button>Regisztráció</button>
    </span>
    <span class="registration-text">
      Van már fiókod? <a [routerLink]="'/login'">Bejelentkezés</a>.
  </span>
  </form>
</div>
