<mat-nav-list>
    <a mat-list-item routerLink="/main">
        <mat-icon>home</mat-icon>
        <span>Főoldal</span>
    </a>
    <a mat-list-item routerLink="/site">
        <mat-icon>home</mat-icon>
        <span>Helyszínek</span>
    </a>
    <a mat-list-item routerLink="/bookings">
        <mat-icon>home</mat-icon>
        <span>Foglalások</span>
    </a>
    <a mat-list-item routerLink="/ratings">
        <mat-icon>home</mat-icon>
        <span>Értékelések</span>
    </a>
    <a mat-list-item routerLink="/login">
        <mat-icon>home</mat-icon>
        <span>Bejelentkezés</span>
    </a>
</mat-nav-list>